<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Alkatra' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <title>Formulář</title>
</head>
<body>
    <h1>Formulář</h1>
<form action="/submit" method="post" class="form-container">
    <div>
        <label for="roleModel">Jméno:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="roleModel">Příjmení:</label>
        <input type="text" id="surname" name="surname">
    </div>
    <div>
        <label for="roleModel">Město:</label>
        <input type="text" id="city" name="city">
    </div>
    <div>
        <label for="roleModel">Ulice:</label>
        <input type="text" id="street" name="street">
    </div>
    <div>
        <label for="roleModel">Telefon:</label>
        <input type="text" id="tel" name="tel">
    </div>

    <button type="submit">Odeslat odpovědi</button>
</form>
</body>
</html>